PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=chatbot
DB_USER=root
DB_PASSWORD=
DB_LOG_SQL=false

N8N_WEBHOOK_URL=https://plhack.app.n8n.cloud/webhook/fe142f78-a903-4185-8028-89082088c348/chat

OPENROUTER_API_KEY=your_openrouter_api_key

PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX=your_index_name
VECTOR_DIMENSION=1024

ONESIGNAL_APP_ID=30435956-71bd-428a-a386-8768ef95efa2
ONESIGNAL_REST_API_KEY=os_v2_app_gbbvsvtrxvbivi4gq5uo7fppukkenmjb6tiu7cmjlgo4gtvzrflpllwqzn4xvq5j2lubbzgwi7dh5q7iim7lh2uvvdogxcmnwsxpv6q
